@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-sand-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(68 64 60/var(--tw-bg-opacity));
}

.bg-sand-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(41 37 36/var(--tw-bg-opacity));
}

.bg-mustard-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 233 210/var(--tw-bg-opacity));
}

.bg-sand-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244/var(--tw-bg-opacity));
}